/* VARIABLES */

// colors

$color-white: #FFFFFF;
$color-turquoise: #00af94;
$color-black: #000000;
$color-green: #73b711;
$color-gray-text: #333333;

// backgrounds

$bg-white: #FFFFFF;
$bg-turquoise: #00c8aa;
$bg-black: #000000;





// font families

$font-lato: 'Lato', Arial, Verdana, sans-serif;
$font-merriweather: 'Merriweather', serif;
